:root {
  --dove-gray: #707070;
  --regent-gray: #8899a6;
  --white: #ffffff;

  --font-size-l: 27px;
  --font-size-m: 25px;
  --font-size-s: 21px;
  --font-size-xl: 30px;
  --font-size-xs: 20px;
  --font-size-xxl: 49px;
  --font-size-xxs: 17px;

  --font-family-roboto: "Roboto", Helvetica;
}
.roboto-normal-white-17px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-25px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-regent-gray-27px {
  color: var(--regent-gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}
